Checks: >
  *,
  -altera-id-dependent-backward-branch,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-overloaded-operator,
  -google-readability-todo,
  -hicpp-uppercase-literal-suffix,
  -llvm-header-guard,
  -llvm-prefer-isa-or-dyn-cast-in-conditionals,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -misc-no-recursion,
  -modernize-use-trailing-return-type,
  -readability-uppercase-literal-suffix
WarningsAsErrors: 'true'
CheckOptions:
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: 'true'
  - key: readability-function-cognitive-complexity.Threshold
    value: 30
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 'true'